<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    {{>header}}
    <p>Created By {{name}}</p>
    <p>This Website was created By Mohit it uses data from api and shows you weather</p>
    {{>footer}}
    
</body>
</html>